%table.table.table-striped
  %thead
    %tr
      %th Original Air Date
      %th File Name
      %th Duration
  %tbody
    = render partial: 'media/index/table/media', collection: @media
= paginate @media