%table#media_table.table.table-striped.table-bordered{data: {source: media_url(format: 'json')}}
  %thead
    %tr
      %th
        %i.icon-arrow-down
        Name
      %th
        %i
        Original Air Date
      %th
        %i
        Duration
  %tbody
    = render partial: 'media/index/table/media', collection: @media
= paginate @media