.view_links
  = link_to('Thumbnail View', videos_path(view_type: 'thumbnails'), class: 'btn')
  = link_to('Table View', videos_path(view_type: 'table'), class: 'btn')

%section
  = render "videos/index/#{view_type}"
