= simple_form_for(@event) do |f|
  %fieldset
    %legend Editing Event
    = render partial: 'form', locals: {f: f}
    .form-actions
      = f.button :submit, 'Save', class: 'btn-primary'

= link_to 'Show', @event