.page-header
  %h1=@media.file_name

%ul.snapshots
  - @media.snapshots.each do |snapshot|
    %li= image_tag(snapshot.image_url(:thumb))

%ul.rslides_tabs.rslides1_tabs
  - @media.snapshots.each_with_index do |snapshot, i|
    %li
      = link_to '#', class: "rslides1_s#{i + 1}" do
        = image_tag(snapshot.image_url(:tiny))