@import 'bourbon';
@import 'bootstrap';
@import 'media';

a {
  color:black;
}

.page-header h1 {
  text-align: center }

footer {
  margin-top: 40px;
  border-top: 1px solid #E5E5E5;
  padding: 35px 0 36px }

section {
  padding-top: 60px }