@import 'bourbon';
@import 'bootstrap';
@import 'dataTables/jquery.dataTables.bootstrap';
@import 'videos';

.page-header h1 { text-align: center }

a { color: black }

section { padding-top: 60px }

footer {
  margin-top: 40px;
  border-top: 1px solid #E5E5E5;
  padding: 35px 0 36px }