body.media {
  &.show {
    .slider-container {
      margin: 0 auto;
      float: none;
      max-width: 800px;

      .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        margin: 0;

        li {
          margin: 0;
          padding: 10px;
          @include linear-gradient(top, #333, #222);
          position: absolute;
          display: none;
          left: 0;
          top: 0;

          &[class*='_on'] {
            float: left;
            position: relative }

          img {
            margin: 0 auto;
            display:block }

          .timestamp {
            position: absolute;
            bottom: 0;
            padding: 5px;
            font-size: 1.5em;
            color: white } } }

        .rslides_tabs {
          margin: 0 auto;
          list-style: none;
          @include box-shadow(0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px rgba(0, 0, 0, 1));
          @include linear-gradient(top, #333, #222);

          li {
            float: left;
            margin:1.05%;
            width: 9%;

            img {
              width:100% } } } } }

    .metadata {
      margin: 0 auto;
      float: none }

  &.index {
    th.tablesorter-header:hover {
      cursor: pointer;
      background-color: #DBDBDB }

    .thumbnails li {
      margin: 0 0 18px 20px;

      .thumbnail  {
        min-height: 350px;

        img { padding:10px }

        .thumbnail-title { text-align: center } } } } }