body.media {
  &.show {
    .rslides {
      position: relative;
      list-style: none;
      overflow: hidden;
      width: 100%;
      padding: 0;
      margin: 0 auto;

      li {
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;

        .timestamp {
          position: absolute;
          bottom: 0;
          padding:5px;
          font-size: 30px;
          color: white }

        &:first-child {
          position: relative;
          display: block;
          float: left } }

      img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0 } } }

    .rslides_tabs {
      list-style: none;
      @include box-shadow(0 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px rgba(0, 0, 0, 1));
      @include linear-gradient(top, #333, #222);
      margin: 0 auto;
      max-width: 800px;
      height:100px;

      li {
        float: left;
        margin: 12px 6px;

        &:first-child {
          margin-left:14px }

        a {
          img {
            height:75px } } } }

  &.index {
    th.tablesorter-header:hover {
      cursor:pointer;
      background-color: #DBDBDB }

    .thumbnails {

      li {
        margin: 0 0 18px 20px;

        .thumbnail  {
          height: 380px;

          .thumbnail-title {
            text-align: center }
          img {
            height: 360px } } } } } }