body.videos {
  &.show {
    .slider-container {
      margin: 0 auto;
      float: none;
      max-width: 790px;
      background: linear-gradient(#333, #222);
      padding: 18px 20px;

      .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0;

        li {
          margin: 0;
          padding: 10px;
          background: linear-gradient(#333, #222);
          position: absolute;
          display: none;
          left: 0;
          top: 0;

          &[class*='_on'] {
            float: left;
            position: relative;
          }

          img {
            margin: 0 auto;
            display: block;
            width: 100%;
          }

          .timestamp {
            position: absolute;
            bottom: 0;
            padding: 5px;
            font-size: 1.5em;
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }
        }
      }

      .rslides_tabs {
        margin: 0 auto;
        padding-left: 0;
        list-style: none;
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.3),
          inset 0 0 5px rgba(0, 0, 0, 1);
        background: linear-gradient(#333, #222);

        li {
          float: left;
          margin: 1.05%;
          width: 9%;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  section {
    margin: 0 auto;
  }

  .metadata {
    .card {
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      margin-bottom: 5px;
    }

    .card-header {
      background-color: #fff;
    }
  }

  &.index {
    .view-links {
      padding-top: 30px;
    }

    th.tablesorter-header:hover {
      cursor: pointer;
      background-color: #dbdbdb;
    }
    .dataTables_info {
      margin: 5px;
    }

    .dataTables_paginate {
      float: left;
    }

    .thumbnails {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        color: black;
      }
    }

    .thumbnail {
      .thumbnail-title {
        overflow-wrap: break-word;
        text-align: center;
      }
    }
  }
}
