%section
  %h2 Editing Host Provider Account
  = render 'form', host_provider_account: @host_provider_account

= link_to 'Show', [:admin, @host_provider_account]
= link_to 'Back', admin_host_provider_accounts_path
